.heading{
    margin-top: 130px;
}

.confirm-btn{
    padding: 5px;
    margin: 3px;
    width: 170px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}